<script type="text/javascript">
    $(document).ready(function() {
        $(".apitypelist").select2();
    });
</script>

<div class="container">
  <div class="row">
    <h1>NuMedik Core API</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">API</a></li>
      <li class="active">Patient Information System(PIS) API</li>
      <li class="pull-right">
        <select class="apitypelist">
          <option value="PIS">Patient Information System(PIS) API</option>
          <option value="DOC">Document Management (DoMS) API</option>
          <option value="Fine">Financial Infomation (FinE) API</option>
        </select>
        <button type="button" class="btn-xs btn btn-warning">Change</button>
      </li>
    </ol>
  </div>
  <div class="row">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <table class="table table-hover table-bordered table-striped">
      <thead>
          <tr>
            <th>No.</th>
            <th>URL</th>
            <th>Method</th>
            <th>Description</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row">1</th>
            <td>/pis/patient/[:mrn]</td>
            <td>GET</td>
            <td>Get Patient Information</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>/pis/search/mykad/[:mykad]</td>
            <td>GET</td>
            <td>Search Patient by Mykad No</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>/pis/search/name/[:name]</td>
            <td>GET</td>
            <td>Search Patient by Name</td>
          </tr>
      </tbody>
    </table>

    <%= link_to :logout, destroy_user_session_path, :method => :delete %>
  </div>
</div>
